---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, PFP_URL, NAME } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<script>
		import confetti from 'canvas-confetti';
		confetti({
			particleCount: 100,
			spread: 70,
			origin: { y: 0.6 }
		});
	</script>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="flex flex-col items-center justify-center">
				<img
					src={PFP_URL}
					alt="Profile picture"
					class="rounded-full w-48 h-48"
				/>
				<div class="flex flex-col items-center justify-center mt-10">
					<h1 class="text-4xl font-bold">Hi, I'm <span class="text-blue-500">{NAME}</span></h1>
					<h2 class="text-2xl font-semibold">I'm a <span class="text-blue-500">programmer</span>.</h2>
				</div>
				<!-- andd some addition content -->
				<div class="flex flex-col items-center justify-center mt-10">
					<h2 class="text-2xl font-semibold">I'm working on <span class="text-blue-500">this website</span> and <span class="text-blue-500">editing</span></h2>
					<h2 class="text-2xl font-semibold text-center">and learning <span class="text-blue-500">Astro</span> and <span class="text-blue-500">Next.js</span></h2>
				</div>
				<div class="flex flex-col items-center justify-center mt-10">
					<h2 class="text-2xl font-semibold">I'm also a <span class="text-red-500 cursor-pointer"><a class="hover:text-red-800" target="_blank" href="https://www.youtube.com/@p55d2k">youtuber</a></span>.</h2>
					<h2 class="text-2xl font-semibold">and I used <span class="text-blue-500">Astro</span> for this website.</h2>
				</div>
			</div>
			<p class="mt-4 text-center text-xs">i use ubuntu btw</p>
		</main>
		<Footer />
	</body>
</html>
